* ::before ::after{
  margin: 0;
  padding: 0;
}

#title1{
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 3em;
}

#register{
  text-align: left;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 3em;
  margin-left: 0.5em;
}

h3{
  font-family: fantasy;
  font-size: 25px;
  margin-left: 1em;
}

h2{
  color: blue;
  font-style: oblique;
  font-size: 2em;
  margin-left: 1em;
}

p{
  padding-left: 3em;
  font-style: italic;
}

.row{
  width: 70%;
  margin: 2em 6em;
}


#reg{
  margin-left: 30px;
}
